.card {
    background-color: grey;
    display: flex;
    flex-direction: column;
    width : fit-content;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
    .cur-state {
        
    }
    .new-state{

    }
}